# user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.DS_Store

# build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

# Release artifacts
_releases/   

# AI docs
ai/
CLAUDE.md
vendor/*